extends layout/layout.pug

block content
    div.row
        div.col
            p
                | A Node.js powered self destructing link generator prototype
            p
                | Select Make Link above to make a new link
            p
                | The link is saved as a flat file with data encoded as JSON
            p
                | Access the link at /link?linkid=xyz
            p
                | If the link is more than 24 hours old, it will self destruct