extends layout/layout.pug

block content
    div.row
        div.col
            p
                | A Node.js powered link generator
            p
                | To Do:
            ul
                li
                    | Create link using unique hash
                li
                    | Somehow store link with a datetime of creation
                li
                    | Check that link is valid
                li
                    | If it is, cool
                li
                    | If it isn't, kill the link
                li
                    | If I can't find it, display an error