extends layout/layout.pug

block content
    div.row
        div.col
            if data
                p
                    | Here's the data:
                ul
                    li
                        | Name: #{data.name}
                    li
                        | Email: #{data.email}
                    li
                        | Date: #{data.date}
            else
                p
                    | Oops! Something went wrong here!
                p
                    | #{error}